@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,400,500,600,700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Manrope";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.pace {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99999000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0px;
  height: 100vh;
  overflow: hidden;
  background: transparent;
}

.pace:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  content: "";
  -webkit-transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
  -o-transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
  transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
}

.pace:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  content: "";
  -webkit-transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
  -o-transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
  transition: 1.3s cubic-bezier(0.41, 0.3, 0.27, 1);
}

.pace .pace-progress {
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 2000;
  top: 50%;
  right: 100%;
  height: 2px;
  width: 100%;
  background: #000;
  -webkit-transition: width 0.2s, opacity 0s;
  -o-transition: width 0.2s, opacity 0s;
  transition: width 0.2s, opacity 0s;
}

#preloader {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: fixed;
}

.pace-done .pace:before {
  height: 0;
}

.pace-done .pace:after {
  height: 0;
}

.pace-done .pace-progress {
  opacity: 0;
}

body {
  background-color: #0E0E0E;
  color: #D9D9D9;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-size: 6.375rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #D9D9D9;
}

h2 {
  font-size: 96px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

p.undertitle {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 15px;
}

p.text-big {
  font-size: 75px;
  font-weight: 600;
  line-height: 1;
  -webkit-text-stroke: 1px #D9D9D9;
  color: #0E0E0E;
  text-transform: uppercase;
}

.container {
  position: relative;
  width: 1460px;
  height: 100%;
  margin: auto;
}

.container_full {
  position: relative;
  width: 100%;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.container .row .half-block {
  width: calc(50% - 14px);
}

.button-row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
}

.button-row .button {
  margin-left: 24px;
}

.button-row .button:first-child {
  margin-left: 0;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 56px;
  background-color: #262626;
  border-radius: 10px;
  padding: 0 56px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 5px);
  background-color: #D9D9D9;
  border-radius: 10px;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button::after {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: #262626;
  border-radius: 8px;
  content: "";
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button span {
  position: relative;
  font-size: 19px;
  color: #D9D9D9;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__icon {
  position: absolute;
  left: 100%;
  height: 22px;
  -webkit-transform: translate(-100%, -2px);
      -ms-transform: translate(-100%, -2px);
          transform: translate(-100%, -2px);
  opacity: 0;
  z-index: 2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button__icon path {
  fill: #D9D9D9;
}

.button:hover {
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.button:hover span {
  -webkit-transform: translateX(-13px);
      -ms-transform: translateX(-13px);
          transform: translateX(-13px);
}

.button:hover .button__icon {
  position: absolute;
  left: 100%;
  height: 22px;
  -webkit-transform: translate(4px, -2px);
      -ms-transform: translate(4px, -2px);
          transform: translate(4px, -2px);
  opacity: 1;
  z-index: 2;
}

.button:hover .button__icon path {
  fill: #D9D9D9;
}

.button:hover::before {
  height: calc(100% + 7px);
}

.button:hover::after {
  background-color: #0E0E0E;
}

.hide-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  pointer-events: none;
}

.hide-nav-overlay svg {
  position: relative;
  top: -20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hide-nav-overlay svg path {
  fill: #fff;
}

.hide-nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 102;
}

.hide-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 50px;
}

.hide-nav__prime {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hide-nav__prime .hide-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hide-nav__prime .hide-nav__list li {
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
}

.hide-nav__prime .hide-nav__list li a {
  position: relative;
  line-height: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 160px;
}

.hide-nav__prime .hide-nav__list li a span {
  position: relative;
  font-family: "Manrope";
  font-size: 180px;
  font-weight: 700;
  color: #b6bac3;
  text-transform: uppercase;
  z-index: 0;
  pointer-events: none;
}

.hide-nav__prime .hide-nav__list li a span.nav-item-shift {
  position: absolute;
  color: #000;
  -webkit-clip-path: ellipse(0% 80% at 100% 54%);
          clip-path: ellipse(0% 80% at 100% 54%);
  -webkit-transition: -webkit-clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1);
  transition: -webkit-clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1);
  -o-transition: clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1);
  transition: clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1);
  transition: clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1), -webkit-clip-path 1.8s cubic-bezier(0.26, 0.87, 0.3, 1);
}

.hide-nav__prime .hide-nav__list li a:hover span.nav-item-shift {
  -webkit-clip-path: ellipse(110% 200% at 100% 50%);
          clip-path: ellipse(110% 200% at 100% 50%);
}

.header {
  position: fixed;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 103;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 0 24px;
}

.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav ul li {
  margin-right: 20px;
}

.header .nav ul li:last-child {
  margin-right: 0;
}

.header .nav ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header .nav ul li a span {
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 400;
  color: #D9D9D9;
}

.header .nav ul li a span.nav-item-shift {
  position: absolute;
  color: #fff;
  -webkit-clip-path: ellipse(0% 80% at 100% 54%);
          clip-path: ellipse(0% 80% at 100% 54%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header .nav ul li a:hover span.nav-item-shift {
  -webkit-clip-path: ellipse(110% 200% at 100% 50%);
          clip-path: ellipse(110% 200% at 100% 50%);
}

.header .humburger-wrap {
  position: absolute;
  right: 30px;
  pointer-events: none;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

.header .humburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
}

.header .humburger .humburger__icon {
  position: absolute;
}

.header .humburger .humburger__icon_static {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.header .humburger .humburger__icon_close {
  -webkit-transform: scale(0) rotate(30deg);
      -ms-transform: scale(0) rotate(30deg);
          transform: scale(0) rotate(30deg);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.header .humburger_active .humburger__icon_static {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.header .humburger_active .humburger__icon_close {
  -webkit-transform: scale(1) rotate(0);
      -ms-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition-delay: 1s;
       -o-transition-delay: 1s;
          transition-delay: 1s;
}

.header .logo-hide {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.header.scrolled .logo-hide {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  pointer-events: none;
}

.header.scrolled .humburger-wrap {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  pointer-events: auto;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.header.scrolled .nav ul li a {
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  pointer-events: none;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-link svg {
  height: 16px;
}

.logo-link svg path {
  fill: #fff;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  position: relative;
  width: 100%;
  padding: 24px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer::before {
  position: absolute;
  top: 0;
  left: 16px;
  width: calc(100% - 24px);
  height: 1px;
  background-color: #fff;
  opacity: 0.5;
  content: "";
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__left span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  font-size: 14px;
}

.footer__left span:last-child {
  margin-bottom: 0;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__right .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__right .nav ul li {
  margin-bottom: 5px;
}

.footer__right .nav ul li:last-child {
  margin-bottom: 0;
}

.footer__right .nav ul li a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.footer__right .nav ul li a span {
  font-family: "Manrope";
  font-size: 14px;
  font-weight: 400;
  color: #D9D9D9;
}

.footer__right .nav ul li a span.nav-item-shift {
  position: absolute;
  color: #fff;
  -webkit-clip-path: ellipse(0% 80% at 100% 54%);
          clip-path: ellipse(0% 80% at 100% 54%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer__right .nav ul li a:hover span.nav-item-shift {
  -webkit-clip-path: ellipse(110% 200% at 100% 50%);
          clip-path: ellipse(110% 200% at 100% 50%);
}

.bg-logo {
  position: absolute;
  right: -13%;
  top: -14%;
  height: 790px;
}

.fake-wrap {
  height: 100vh;
  position: relative;
}

.fake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.fake-stop {
  position: relative;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
}

.prime {
  height: auto;
  padding: 120px 0 50px 0;
}

.prime h1 {
  font-family: "Manrope", sans-serif;
  font-size: 112px;
  color: #D9D9D9;
  font-weight: 500;
  margin-bottom: -105px;
}

.prime p {
  font-family: "Manrope", sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: #D9D9D9;
  margin-left: 610px;
  margin-bottom: 100px;
  line-height: 1.2;
}

.prime .cases-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 650px;
  width: calc(100% - 32px);
  margin: auto;
  border-radius: 20px;
  overflow: hidden;
}

.prime .cases-prev img {
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.prime__contact-button {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #0e0e0e;
  border-radius: 50%;
  z-index: 2;
}

.prime__contact-button span {
  font-family: "Manrope", sans-serif;
  font-size: 23px;
  color: #D9D9D9;
  font-weight: 500;
}

.prime__contact-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  -webkit-transition: height 0.5s, -webkit-transform 0.2s;
  transition: height 0.5s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, height 0.5s;
  transition: transform 0.2s, height 0.5s;
  transition: transform 0.2s, height 0.5s, -webkit-transform 0.2s;
}

.prime__contact-button:hover img {
  height: 75%;
}

.cases__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 50vw;
}

.cases__info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 730px;
  height: 100%;
  padding-right: 24px;
}

.cases__item-tag {
  position: absolute;
  top: 50%;
  right: 0;
  height: 260px;
  -webkit-transform: translate(40%, -50%);
      -ms-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  z-index: 1;
  opacity: 0.3;
}

.cases__item-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 150px;
  height: 100%;
}

.cases__item-wrap_action {
  margin-right: 20px !important;
}

.cases__item-wrap .case-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 460px;
  height: 85%;
  padding: 8px;
  padding-bottom: 0;
  background-color: #D9D9D9;
  border-radius: 28px;
  z-index: 2;
}

.cases__item-wrap .case-item_action {
  width: calc(50vw - 30px) !important;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 40px;
  border: 1px solid rgba(255, 255, 255, 0.1490196078);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cases__item-wrap .case-item_action h3 {
  font-size: 80px;
}

.cases__item-wrap .case-item_action .glass-img {
  height: auto;
  width: 250px;
  margin: auto;
}

.cases__item-wrap .case-item_action .all-arrow {
  width: 400px;
  height: auto;
}

.cases__item-wrap .case-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  border-radius: 20px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cases__item-wrap .case-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1.2s;
  -o-transition: 1.2s;
  transition: 1.2s;
}

.cases__item-wrap .case-item__info {
  color: #0E0E0E;
  padding: 24px 32px;
}

.cases__item-wrap .case-item__info h3 {
  font-size: 23px;
  font-weight: 700;
  text-transform: none;
  margin-bottom: 5px;
}

.cases__item-wrap .case-item:hover .case-item__img img {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.services__wrap {
  margin-top: 100px;
}

.services__clip {
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.services__clip_hover {
  position: absolute;
  right: 0;
  width: 100%;
  -webkit-clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
          clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  z-index: 2;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.services__clip_hover .services__text span {
  color: #fff;
}

.services__item {
  position: relative;
}

.services__item .services__text span {
  position: relative;
}

.services__item .services__text span:before {
  position: absolute;
  right: -62px;
  top: calc(50% + 4px);
  width: 32px;
  height: 30px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url(../img/svg/logo-sign.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.services__item:hover .services__clip_hover {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.services__item .services__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 105px;
  font-weight: 600;
  white-space: nowrap;
  -webkit-text-stroke: 1px #D9D9D9;
  color: #0E0E0E;
  -webkit-transition: 0.7s ease-out;
  -o-transition: 0.7s ease-out;
  transition: 0.7s ease-out;
  text-transform: uppercase;
}

.services__item_left-slide .services__text {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: -600px;
}

.services__item_left-slide .services__text span {
  display: inline-block;
  margin: 0 40px;
}

.services__item_left-slide .services__text.under-text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.2;
}

.services__item_right-slide .services__text {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -600px;
}

.services__item_right-slide .services__text span {
  display: inline-block;
  margin: 0 40px;
}

.services__item_right-slide .services__text.under-text {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.2;
}

.about__title-wrap {
  position: relative;
  width: 60%;
  z-index: 2;
}

.about__title-wrap h2 {
  margin-bottom: 40px;
}

.about__info-wrap {
  position: relative;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about__info-wrap p {
  margin-bottom: 10px;
}

.about__info-wrap p:last-child {
  margin-bottom: 0;
}

.about__info-wrap .undertitle {
  margin-bottom: 24px;
}

.about__photo {
  position: absolute;
  top: -20%;
  right: 35%;
  opacity: 0.4;
  border-radius: 24px;
}

.about__numbers {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.1;
}

.about__numbers span {
  color: #D9D9D9;
}

.about__numbers span:first-child {
  font-size: 170px;
  font-weight: 700;
}

.about__numbers span:nth-child(2n) {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: relative;
  left: 10px;
  top: 4px;
}

.about__numbers_years {
  left: -180px;
  top: -90px;
}

.about__numbers_projects {
  right: -110px;
  bottom: 20px;
}

.about__numbers_projects span:nth-child(2n) {
  font-size: 25px;
  left: 16px;
  top: 4px;
}

.video__wrapper {
  overflow: hidden;
  height: 700px;
  width: calc(100% - 32px);
  margin: auto;
  border-radius: 20px;
}

.video__wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 130%;
  position: relative;
  margin: auto;
  max-height: 100%;
}

.contact {
  padding-bottom: 50px !important;
}

.contact__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.contact__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 40px;
  margin-bottom: 20px;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.contact__socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 56px;
  margin-left: 50px;
}

.contact__socials a svg {
  width: 100%;
  height: 100%;
}

.contact__contact-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  height: 500px;
  background-color: #0e0e0e;
  border-radius: 50%;
  z-index: 2;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  margin: auto;
  margin-top: 50px;
}

.contact__contact-button span {
  font-family: "Manrope", sans-serif;
  font-size: 45px;
  color: #D9D9D9;
  font-weight: 500;
}

.contact__contact-button img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 90%;
  -webkit-transition: height 0.5s, -webkit-transform 0.2s;
  transition: height 0.5s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, height 0.5s;
  transition: transform 0.2s, height 0.5s;
  transition: transform 0.2s, height 0.5s, -webkit-transform 0.2s;
}

.contact__contact-button:hover img {
  height: 75%;
}

.contact .video__wrapper {
  height: 540px;
}

section {
  width: 100%;
  height: auto;
  position: relative;
}

.section {
  padding: 200px 0;
}

.section__title {
  width: 50%;
}

section.horizontal {
  overflow: hidden;
}

section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  height: 100vh;
}

section.horizontal .item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100vw;
          flex: 0 0 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page {
  overflow: hidden;
}

.item {
  height: 100vh !important;
}

.box {
  background-color: #45387e !important;
  height: 100vh !important;
}

.blue {
  background-color: #507b94;
}

.yellow {
  background-color: #bdab5d;
}

.red {
  background-color: #aa4b3e;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
      -ms-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
      -ms-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

/*X-Large devices (large desktops, less than 1400px)*/

/*Large devices (desktops, less than 1200px)*/

/*Large devices (desktops, less than 1200px)*/

/*Large devices (desktops, less than 1200px)*/

/*Medium devices (tablets, less than 992px)*/

/*Small devices (landscape phones, less than 768px)*/

/*Small devices (landscape phones, less than 768px)*/

/*X-Small devices (portrait phones, less than 576px)*/

/*X-Small devices (portrait phones, less than 576px)*/

@media (max-width: 1499.98px) {
  .container {
    width: 1320px;
  }

  .cases__info-wrap {
    width: 660px;
  }

  .about__title-wrap {
    width: 58%;
  }

  .about__info-wrap {
    width: 42%;
    padding-left: 36px;
  }

  p.text-big {
    font-size: 68px;
  }

  p.undertitle {
    font-size: 32px;
  }

  .contact__contact-button {
    width: 420px;
    height: 420px;
  }

  .contact__links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 36px;
    margin-bottom: 8px;
  }
}

@media (max-width: 1399.98px) {
  .container {
    width: 1210px;
  }

  .prime h1 {
    font-size: 104px;
    margin-bottom: -96px;
  }

  .prime p {
    font-size: 36px;
    margin-left: 570px;
    margin-bottom: 120px;
  }

  h2 {
    font-size: 80px;
  }

  .cases__info-wrap {
    width: 605px;
  }

  p.undertitle {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 15px;
  }

  .button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 48px;
  }

  p.text-big {
    font-size: 60px;
  }

  .about__info-wrap .undertitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .button {
    padding: 0 48px;
  }

  .video__wrapper {
    height: 600px;
  }

  .contact__contact-button {
    width: 310px;
    height: 310px;
  }

  .contact__contact-button span {
    font-size: 28px;
  }

  .about__photo {
    top: -12%;
    right: 30%;
    width: 470px;
    border-radius: 24px;
  }
}

@media (max-width: 1299.98px) {
  .container {
    width: 1110px;
  }

  .prime h1 {
    font-size: 88px;
    margin-bottom: -82px;
  }

  .prime p {
    font-size: 32px;
    margin-left: 480px;
    margin-bottom: 120px;
  }

  .prime .cases-prev {
    height: 520px;
  }

  .cases__info-wrap {
    width: 555px;
  }

  .cases__info {
    margin-right: 60px;
  }

  .cases__item-wrap {
    margin-right: 110px;
  }

  .cases__item-wrap .case-item {
    width: 390px;
  }

  .cases__item-wrap .case-item_action h3 {
    font-size: 64px;
  }

  .services__item .services__text {
    font-size: 88px;
  }

  .section {
    padding: 128px 0;
  }

  p .text-big {
    font-size: 56px;
  }

  p .undertitle {
    font-size: 28px;
  }

  .button span {
    font-size: 16px;
  }

  .contact__links a {
    font-size: 28px;
  }

  .contact__socials a {
    width: 40px;
    height: 40px;
  }

  .contact__contact-button {
    margin-top: 10px;
  }

  .bg-logo {
    height: 600px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 164px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    width: 1010px;
  }

  .prime h1 {
    font-size: 80px;
    margin-bottom: -76px;
  }

  .prime p {
    font-size: 30px;
    margin-left: 440px;
  }

  .cases__info-wrap {
    width: 505px;
  }

  .button-row .button {
    margin-left: 16px;
  }

  .button {
    padding: 0 36px;
  }
}

@media (max-width: 1099.98px) {
  .container {
    width: 940px;
  }

  h2 {
    font-size: 72px;
  }

  p {
    font-size: 14px;
  }

  p .text-big {
    font-size: 48px;
  }

  .button-row {
    margin-top: 36px;
  }

  .button {
    padding: 0 32px;
  }

  .button .button__icon {
    height: 18px;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .button:hover span {
    -webkit-transform: translateX(-8px);
        -ms-transform: translateX(-8px);
            transform: translateX(-8px);
  }

  .button:hover .button__icon {
    height: 18px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .prime {
    padding: 90px 0 50px 0;
  }

  .prime h1 {
    font-size: 72px;
    margin-bottom: -68px;
  }

  .prime p {
    font-size: 28px;
    margin-left: 400px;
  }

  .prime .cases-prev {
    height: 400px;
  }

  .prime__contact-button {
    width: 160px;
    height: 160px;
  }

  .prime__contact-button span {
    font-size: 19px;
  }

  .cases__info-wrap {
    width: 470px;
  }

  .cases__item-wrap .case-item {
    width: 330px;
    border-radius: 16px;
  }

  .cases__item-wrap .case-item__info {
    padding: 16px 16px;
  }

  .cases__item-wrap .case-item__info p {
    font-size: 14px;
  }

  .cases__item-wrap .case-item__img {
    border-radius: 8px;
  }

  .about__info-wrap .undertitle {
    font-size: 16px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 156px;
  }
}

@media (max-width: 1023.98px) {
  body {
    overflow: auto;
  }

  body,
  html {
    height: auto !important;
  }

  .container {
    width: 900px;
  }

  .page {
    overflow: hidden !important;
  }

  .hide-nav-overlay {
    position: fixed;
  }

  .hide-nav {
    position: fixed;
  }

  section.horizontal {
    height: auto;
  }

  section.horizontal .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto !important;
  }

  section.horizontal .animation-wrap {
    height: auto;
  }

  section.horizontal .pin-wrap {
    height: auto;
  }

  .fake-wrap {
    display: none;
  }

  .hide-nav-overlay svg {
    top: -20px;
    left: -20%;
    width: 140%;
    height: 180%;
  }

  .nav {
    display: none;
  }

  .header .humburger-wrap {
    pointer-events: auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  h2 {
    font-size: 72px;
  }

  p.undertitle {
    font-size: 24px;
  }

  .cases__info-wrap {
    width: 450px;
    padding-top: 80px;
  }

  .cases__item-wrap {
    margin-right: 0;
    height: auto;
    width: 50vw;
    margin-bottom: 120px;
  }

  .cases__item-wrap:nth-child(odd) {
    margin-top: -210px;
  }

  .cases__item-wrap .case-item {
    width: calc(100% - 32px);
  }

  .cases__item-wrap_action {
    height: 620px;
    margin-right: 0px !important;
  }

  .cases__item-wrap_action .case-item {
    width: calc(100% - 32px);
    height: 100%;
  }

  .cases__info {
    margin-right: 0;
  }

  .contact__contact-button {
    width: 270px;
    height: 270px;
  }

  .cases__item-wrap .case-item_action .all-arrow {
    width: 318px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 124px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 680px;
  }

  .container .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .prime h1 {
    font-size: 56px;
    margin-bottom: -52px;
  }

  .prime p {
    font-size: 21px;
    margin-left: 310px;
  }

  h2 {
    font-size: 56px;
  }

  .cases__info-wrap {
    width: 340px;
  }

  p.undertitle {
    font-size: 19px;
  }

  .services__item .services__text {
    font-size: 64px;
  }

  .about__title-wrap {
    width: 100%;
  }

  .about__info-wrap {
    width: 100%;
    padding-left: 0;
  }

  .video__wrapper {
    height: 420px;
  }

  .contact__group {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact__contact-button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contact__links {
    width: 70%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact__socials {
    width: 30%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer .nav {
    display: block;
  }

  .cases__info-wrap {
    padding-top: 0px;
  }

  .cases__item-wrap_action {
    height: 480px;
  }

  .cases .case-item_action h3 {
    font-size: 50px;
  }

  .cases .case-item_action .all-arrow {
    width: 260px;
  }

  .contact__socials {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .contact__socials a {
    width: 32px;
    height: 32px;
    margin-left: 0;
  }

  .services__item .services__text span:before {
    right: -54px;
    width: 22px;
    height: 24px;
  }

  .contact__contact-button {
    margin-bottom: 30px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 110px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 560px;
  }

  .prime h1 {
    font-size: 48px;
    margin-bottom: -45px;
  }

  .prime h2 {
    font-size: 48px;
  }

  .prime p {
    font-size: 17px;
    margin-left: 264px;
  }

  .prime .cases-prev {
    height: 300px;
  }

  .cases__info-wrap {
    width: 280px;
    padding-top: 0px;
  }

  .cases__item-wrap:nth-child(odd) {
    margin-top: -111px;
  }

  .cases__item-wrap {
    margin-bottom: 50px;
  }

  .cases__item-wrap .case-item {
    padding: 4px;
  }

  .section__title {
    width: 100%;
  }

  p.text-big {
    font-size: 40px;
  }

  h2 {
    font-size: 48px;
  }

  .cases__item-wrap .case-item_action {
    padding: 24px;
  }

  .cases__item-wrap .case-item_action h3 {
    font-size: 48px;
  }

  .cases__item-wrap_action {
    height: 440px;
  }

  .video__wrapper {
    height: 360px;
  }

  .cases__item-wrap .case-item_action .glass-img {
    height: auto;
    width: 140px;
    margin: auto;
  }

  .cases .case-item_action .all-arrow {
    width: 240px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 96px;
  }
}

@media (max-width: 649.98px) {
  .container {
    width: 490px;
  }

  section.horizontal .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  p {
    font-size: 14px;
  }

  .button-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px;
  }

  .header__container {
    padding: 0 16px;
  }

  .header .humburger-wrap {
    position: absolute;
    right: 16px;
  }

  .prime h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .prime p {
    font-size: 24px;
    margin-left: 0;
  }

  .prime .cases-prev {
    height: 320px;
  }

  .cases__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 60px;
  }

  .cases__info-wrap {
    width: 490px;
    padding-top: 0px;
  }

  .cases__item-wrap {
    width: calc(50% - 16px);
    padding-right: 8px;
  }

  .cases__item-wrap:nth-child(odd) {
    margin-top: 0;
    padding-right: 0;
    padding-left: 8px;
  }

  .cases__item-wrap .case-item {
    width: 100%;
    border-radius: 16px;
  }

  .cases__item-wrap .case-item__info {
    padding: 16px 8px;
  }

  .cases__item-wrap .case-item__info h3 {
    font-size: 18px;
  }

  .cases__item-wrap .case-item__img {
    border-radius: 12px;
  }

  .cases__item-wrap .case-item_action h3 {
    font-size: 40px;
  }

  .cases__item-wrap_action {
    height: 380px;
  }

  .cases__item-wrap_action .all-arrow {
    width: 200px;
  }

  .services__item .services__text {
    font-size: 48px;
  }

  .cases .case-item_action .all-arrow {
    width: 200px;
  }

  .services__wrap {
    margin-top: 40px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 80px;
  }
}

@media (max-width: 575.98px) {
  .section {
    padding: 72px 0;
  }

  .container {
    width: 100%;
    padding: 0 16px;
  }

  p {
    font-size: 14px;
  }

  p.text-big {
    font-size: 32px;
    -webkit-text-stroke: 0.7px #D9D9D9;
  }

  .bg-logo {
    right: -120px;
    top: 60px;
    height: 350px;
  }

  .button {
    width: 100%;
    padding: auto;
  }

  .prime h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .prime h1 br {
    display: none;
  }

  .prime p {
    font-size: 22px;
    margin-left: 0;
  }

  .prime .cases-prev {
    height: 240px;
  }

  .prime__contact-button {
    width: 120px;
    height: 120px;
  }

  .prime__contact-button span {
    font-size: 15px;
  }

  .cases__info-wrap {
    width: 100%;
    padding: 0 16px;
  }

  .cases__item-wrap {
    width: 100%;
    padding-right: 0;
  }

  .cases__item-wrap:nth-child(odd) {
    padding-left: 0;
  }

  .cases__item-wrap .case-item {
    padding: 0;
    background-color: transparent;
    border-radius: 0;
  }

  .cases__item-wrap .case-item__img {
    border-radius: 0;
  }

  .cases__item-wrap .case-item__info {
    color: #ffffff;
    padding: 16px 16px;
  }

  .cases__item-wrap .case-item__info h3 {
    font-size: 24px;
  }

  .cases__item-wrap .case-item_action {
    width: calc(100% - 32px) !important;
    border-radius: 20px;
    padding: 24px;
  }

  .services__wrap {
    margin-top: 40px;
  }

  .video__wrapper {
    height: 480px;
  }

  .contact__socials {
    width: 100%;
    margin-top: 40px;
  }

  .contact__links {
    width: 100%;
    margin-top: 40px;
  }

  .about__info-wrap {
    margin-top: 24px;
  }

  .about__info-wrap .undertitle {
    font-size: 24px;
  }

  .about__photo {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    border-radius: 24px;
  }

  .services__item .services__text {
    font-size: 40px;
  }

  .services__item_left-slide .services__text span {
    margin: 0 24px;
  }

  .services__item .services__text span:before {
    right: -33px;
    width: 14px;
    height: 13px;
    top: calc(50% + 1px);
  }

  .services__item_right-slide .services__text span {
    margin: 0 24px;
  }

  .contact__contact-button {
    margin-bottom: 0px;
  }

  .hide-nav__container {
    padding: 0 16px;
  }

  .hide-nav__prime .hide-nav__list li a span {
    font-size: 64px;
  }
}

@media (max-width: 413.98px) {
  .hide-nav__prime .hide-nav__list li a span {
    font-size: 56px;
  }

  .prime h1 {
    font-size: 36px;
  }

  .prime p {
    font-size: 16px;
    margin-bottom: 80px;
  }

  .button span {
    font-size: 15px;
  }

  h2 {
    font-size: 40px;
  }
}